*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header-Styling */
.firstsection{
    background-color: #1AC073;
height: 650px;
}
.firstsection header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

.firstsection header .first h1{
    font-family: 'Squada One', cursive;
    font-weight: 400;
font-size: 32px;
line-height: 20px;
letter-spacing: -0.012em;
color: #FFFFFF;
margin: 20px 0px;
}
.firstsection header .middle a{
font-weight: 400;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.012em;
color: #FFFFFF;
padding: 0px 20px;
text-decoration: none;
margin: 20px 0px;
}
.firstsection header .middle a:hover{
    color: #e7e3e3;
}
.firstsection header .last a img{
    padding: 0px 10px;
    margin: 20px 0px;
}

/* Main Styling */
.firstsection main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
.firstsection main .left h1{
    font-size: 65px;
line-height: 82px;
color: #FFFFFF;
width: 500px;
height: 147px;
font-family: sans-serif;
}
.firstsection main .left p{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.012em;
color: #FFFFFF;
width: 441px;
height: 40px;
margin: 30px 0px;
}
.firstsection main .left form input:nth-child(1){
    width: 250px;
height: 50px;
background: #FFFFFF;
border-radius: 10px 0px 0px 10px;
padding: 10px;
border: 2px solid #FFFFFF;
}
.firstsection main .left form input:nth-child(1):focus{
    outline: none;
    box-shadow: none;
}
.firstsection main .left form input:nth-child(2){
    width: 100px;
height: 50px;
background: #F3BA00;
border-radius: 0px 10px 10px 0px;
padding: 10px;
border: 2px solid #F3BA00;
color: #FFFFFF;
}
.firstsection main .left form input:nth-child(2):hover{
    background-color: transparent;
    cursor: pointer;
}

/* Second-Section Styling */
.secondsection{
background: #F7F8FA;
}
.secondsection .box{
    margin: 0px 50px;
    padding-top: 100px;
    padding-bottom: 30px;
}
.secondsection .box h2{
    font-size: 24px;
line-height: 24px;
letter-spacing: -0.012em;
color: #000000;
width: 200px;
height: 24px;
margin-bottom: 20px;
}
.secondsection .box .buttons button{
    width: 100px;
height: 40px;
border: 2px solid #F3BA00;
color: #929292;
border-left: none;
}
.secondsection .box .buttons button:hover{
    cursor: pointer;
    background-color: #F3BA00;
    color: #FFFFFF;
}
.secondsection .box .buttons button:nth-child(1){
    background-color: #F3BA00;
    border-radius: 10px 0px 0px 10px;
    width: 80px;
    color: #000000;
}
.secondsection .box .buttons button:nth-child(1):hover{
    cursor: pointer;
    background-color: #F7F8FA;
    color: #929292;
}
.secondsection .box .buttons button:nth-child(5){
    border-radius: 0px 10px 10px 0px;
}
.secondsection .box select{
    width: 200px;
height: 40px;
margin-top: 30px;
background-color: #F7F8FA;
border-radius: 10px;
padding: 10px;
border-color: #929292;
color: #929292;
cursor: pointer;
}
.secondsection .box select:focus{
    outline: none;
    box-shadow: none;
}

/* Third-Section Styling */
.thirdsection{
    background-color: #F7F8FA; 
    height: 900px;
}
.thirdsection .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thirdsection .container .flex-container-up{
    display: flex;
    align-items: center;
    justify-content: center;
}
.thirdsection .container .flex-container-down{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.thirdsection .container .flex-box{
    margin: 25px;
    background-color: #FFFFFF;
    padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
}
.thirdsection .container .flex-box h2{
    font-size: 16px;
    font-weight: 400;
line-height: 20px;
letter-spacing: -0.012em;
color: #1B1C21;
margin-left: 10px;
}
.thirdsection .container .flex-box h2 span{
    margin-left: 90px;
    font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.012em;
color: #1B1C21; 
}
.thirdsection .container .flex-box h3{
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.012em;
color: #1B1C21;
align-items: center;
margin-left: 10px;
}
.thirdsection .container .flex-box h3 span{
    background: #BEBEBE;
    padding: 3px;
    border-radius: 5px;
}
.thirdsection .container .flex-box h3 span:nth-child(2){
    margin-right: 90px;
}
.thirdsection button{
    width: 172px;
    height: 46px;
    left: 502px;
    top: 812px;
    border: 1px solid #F3BA00;
    border-radius: 10px;
    font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.012em;
color: #929292;
margin: 80px 0px 80px 600px;
}
.thirdsection button:hover{
    color: #FFFFFF;
    background-color: #F3BA00;
    cursor: pointer;
}

/* Fourth-Section Styling */
.fourth-section{
    height: 800px;
    background: #FFFFFF;
}
.fourth-section h2{
font-size: 24px;
line-height: 24px;
letter-spacing: -0.012em;
color: #000000;
margin: 100px 0px 10px 65px;
}
.fourth-section .container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.fourth-section .container .box{
    padding: 35px;
}
.fourth-section .container .box h3{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.012em;
color: #101115;
width: 250px;
height: 40px;
padding: 10px 0px 10px 20px;
}
.fourth-section .container .box p{
    font-weight: 200;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.012em;
color: #1B1C21;
width: 239px;
height: 27px;
padding: 10px 0px 50px 20px;
}

.fourth-section .container .box-middle h3{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.012em;
color: #101115;
}
.fourth-section .container .box-middle p{
    font-weight: 200;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.012em;
color: #1B1C21;
}
.fourth-section .container .box-middle{
    padding: 30px;
}

/* Fifth-Section Styling */
.fifth-section{
height: 603px;
left: 0px;
top: 2878px;
background: #F7F8FA;
}
.fifth-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
}
.fifth-section .container h2{
    font-size: 24px;
line-height: 24px;
letter-spacing: -0.012em;
color: #101115;
width: 300px;
height: 48px;
}
.fifth-section .container p{
    font-weight: 400;
font-size: 12px;
line-height: 20px;
letter-spacing: -0.012em;
color: #1B1C21;
width: 338px;
height: 20px;
margin: 10px 0px;
}
.fifth-section .container input{
    width: 300px;
height: 58px;
background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.012em;
color: #929292;
margin-top: 30px;
margin-right: 10px;
border: none;
padding: 20px;
}
.fifth-section .container input:focus{
    outline: none;
    box-shadow: none;
}
.fifth-section .container input:nth-child(3){
    width: 616px;
    height: 215px;
    text-align: left;
    padding:  0.4em;
}

/* Footer Styling */
footer{
    background-color: #1AC073;
height: 200px;
}
footer .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 50px 50px 50px;
}

footer .footer .first h1{
    font-family: 'Squada One', cursive;
    font-weight: 400;
font-size: 32px;
line-height: 20px;
letter-spacing: -0.012em;
color: #FFFFFF;
margin: 20px 0px;
}
footer .footer .middle a{
font-weight: 400;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.012em;
color: #FFFFFF;
padding: 0px 20px;
text-decoration: none;
margin: 20px 0px;
}
footer .footer .middle a:hover{
    color: #e7e3e3;
}
footer .footer .last img{
    padding: 0px 10px;
    margin: 20px 0px;
}
footer .footer .last img:hover{
    cursor: pointer;
    transform: rotate(45deg);
}
footer .foot-end{
    margin: 0px 50px;
}
footer .foot-end p{
font-weight: 400;
font-size: 12px;
line-height: 20px;
letter-spacing: -0.012em;
color: #FFFFFF;
padding-top: 20px;
text-align: center;
}

@media screen and (max-width: 470px) and (min-width: 280px) {
    /* Header-Styling */
.firstsection{
    background-color: #1AC073;
height: 650px;
}
.firstsection header{
    margin: 0px 10px;
    flex-direction: row;
    justify-content: space-between;
}

.firstsection header .first h1{
font-size: 14px;
margin-right: 8px;
}
.firstsection header .middle a{
font-size: 12px;
padding: 0px 2px;
margin: 20px 0px;
}
.firstsection header .middle a:hover{
    color: #e7e3e3;
}
.firstsection header .last img{
    margin: 20px 0px;
}

/* Main Styling */
.firstsection main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.firstsection main .left h1{
    font-size: 30px;
line-height: 70px;
width: 300px;
height: 147px;
}
.firstsection main .left p{
    font-weight: 400;
font-size: 12px;
line-height: 20px;
width: 300px;
height: 40px;
margin: 20px 0px;
}
.firstsection main .left form input:nth-child(1){
    width: 200px;
height: 40px;
background: #FFFFFF;
}

.firstsection main .left form input:nth-child(2){
    width: 80px;
height: 40px;
}
.firstsection main .right img{
    width: 300px;
    height: 250px;
    margin-top: 20px;
}

/* Second-Section Styling */
    .secondsection .box{
        margin: 0px 10px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .secondsection .box h2{
        font-size: 20px;
    margin-bottom: 20px;
    }
    .secondsection .box .buttons button{
        width: 72px;
    height: 30px;
   font-size: 11px;
    }
    .secondsection .box .buttons button:nth-child(1){
        width: 50px;
        color: #000000;
        border-radius: 5px 0px 0px 5px;
    }
    .secondsection .box .buttons button:nth-child(5){
        border-radius: 0px 5px 5px 0px;
    }
    .secondsection .box select{
        width: 150px;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
    }

    /* Third-Section Styling */
.thirdsection{
    background-color: #F7F8FA; 
    height: 1000px;
}
.thirdsection .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thirdsection .container .flex-container-up{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.thirdsection .container .flex-container-down{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.thirdsection .container .flex-box{
    margin: 10px;
    background-color: #FFFFFF;
    padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
}
.thirdsection .container .flex-box>img{
    width: 160px;
    height: 130px;
}
.thirdsection .container .flex-box h2{
    font-size: 14px;
margin-left: 5px;
}
.thirdsection .container .flex-box h2 span{
    margin-left: 14px;
font-size: 14px;
}
.thirdsection .container .flex-box h3{
font-size: 14px;
margin-left: 5px;
}
.thirdsection .container .flex-box h3 span{
    background: #BEBEBE;
    padding: 3px;
    border-radius: 5px;
}
.thirdsection .container .flex-box h3 span:nth-child(2){
    margin-right: 14px;
}
.thirdsection button{
    width: 150px;
    height: 46px;
font-size: 14px;
margin: 40px 0px 80px 100px;
}

/* Fourth-Section Styling */
.fourth-section{
    height: 1800px;
    background: #FFFFFF;
}
.fourth-section h2{
font-size: 20px;
margin: 50px 0px 10px 0px;
text-align: center;
}
.fourth-section .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fourth-section .container img{
    width: 330px;
    height: 250px;
}
.fourth-section .container .box{
    padding: 15px 25px;
}
.fourth-section .container .box h3{
font-size: 16px;
width: 350px;
height: 40px;
padding: 2px 0px;
}
.fourth-section .container .box p{
font-size: 14px;
width: 300px;
height: 27px;
padding: 0px 5px;
}

.fourth-section .container .box-middle img{
    width: 330px;
    height: 250px;
}
.fourth-section .container .box-middle h3{
font-size: 16px;
width: 350px;
height: 40px;
}
.fourth-section .container .flex-container-middle  .box-middle{
    padding: 15px 20px;
}
.fourth-section .container .box-middle p{
font-size: 14px;
width: 300px;
height: 27px;
}
.fourth-section .container .box-middle{
    padding: 15px;
}


/* Fifth-Section Styling */
.fifth-section{
    height: 850px;
    }
    .fifth-section .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 10px;
    }
    .fifth-section .container h2{
        font-size: 20px;
    width: 300px;
    height: 48px;
    text-align: center;
    }
    .fifth-section .container p{
    font-size: 10px;
    width: 338px;
    height: 20px;
    margin: 10px 0px;
    text-align: center;
    }
    .fifth-section .container input{
        width: 300px;
    height: 58px;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 15px;
    padding: 20px;
    }
    .fifth-section .container input:nth-child(3){
        width: 300px;
        height: 215px;
    }
    .fifth-section .container img{
        width: 300px;
        height: 250px;
        margin-top: 30px;
    }

    /* Footer Styling */
footer{
    background-color: #1AC073;
height: 200px;
}
footer .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 5px 10px;
}

footer .footer .first h1{
font-size: 20px;
margin: 20px 0px;
}
footer .footer .middle a{
font-size: 10px;
padding: 0px 20px;
margin: 20px 0px;
}
footer .footer .last img{
    padding: 0px 5px;
    margin: 20px 0px;
    height: 25px;
    width: 35px;
}
footer .foot-end{
    margin: 0px 10px;
}
footer .foot-end p{
font-size: 10px;
padding-top: 10px;
}
}